@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    src: url("../../fonts/Poppins.ttf");
    font-family: "Poppins";
}

body {
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
}
